{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "app/style.scss" %}" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title>This is a test</title>
  </head>
  <body>
    <div id="react-container"></div>
    <script type="text/javascript" src="{% static "build/bundle.js" %}"></script>
  </body>
</html>